.common_height{
    height: 500px;
    overflow-y: scroll;
}

.child_height{
    height: 145px;
}

.single_country{
    align-items: center;
    display: grid;
}

.single_country h4{
    font-size: 16px;
}


#country_information img{
    width: 45%;
    height: auto;
    margin: 0 auto;
    display: block;
}
#country_information p{
    font-size: 13px;
}